/*div.container {
    width: 100%;
    border: 1px solid gray;
    color: green;
    background: black
}*/

header {
    padding: 1em;
    color: red;
    font-size: 50px;
    background-color: black;
    clear: left;
    text-align: center;
}
footer{
    padding: 1em;
    color: white;
    font-size: 25px;
    background-color: black;
    clear: left;
    text-align: center;
    width: 800px;
}

nav {
    float: left;
    max-width: 200px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}
article {
    margin-left: 150px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    width: 600px;
    background-color: #6699ff;
}
h1, h2{
    font-size: 20px;
}
